<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Recipe</title>
</head>
<body class="bg-warning">
    <div class="mt-5">
        <h1 class="text-danger text-center">OOPS!</h1>
        <h2 class="text-center display-3 font-weight-bold">ERROR 404</h2>
        <h2 class="text-center display-4 text-dark">PAGE NOT FOUND</h2>
    </div>
    <a href='/dashboard' class="btn btn-danger btn-lg active mt-5 ml-5" role="button" aria-pressed="true">Dashboard</a>
</body>
</html>